# .venv and virtual environment files
.venv/
venv/
.env

# VS Code workspace settings
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pt

# Jupyter checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
.DS_Store
output.txt
